.feature .featureBody:hover{
    background-color: rgb(231, 230, 229);
    border-radius: 15px;
    margin:10px;
}

.feature{
   cursor: pointer;
  
}
.featureBody{
    background-color:white;
}
.feature:hover{
    transform: rotateX(360deg);
    transition:1s;
}