.breakFast .breakFastBody:hover{
    background-color: #f1e9bf;
    border-radius: 15px;
}

.breakFast{
   cursor: pointer;
  
}
.breakFastBody{
    background-color:white;
}

.breakFast:hover{
    transform: rotateY(360deg);
    transition:1s;
}